button{
    width:50%;
    padding:0.5rem  1rem;
    cursor: pointer;
    background: #16a085;
    border:solid #00000049;
    color:#eeeeee;
    border-radius:5px;
    font-size:1.2rem;
}

/*responsive*/

@media (min-width: 240px) and (max-width:880px){
    button{
        width: 100%;
    }
}