.home_container {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align:end;
}
.home_container img {
  width: 100%;
}
.home_container .title_home {
  font-size: 2.5rem;
  padding: 0 1.5rem;
}
.home_container .subtitle_home{
    padding: 1.5rem 0;
    font-style: italic;
}
