.hero_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.hero_container img {
  width: 100%;
}
.hero_container > .titles {
  text-align: end;
}
.hero_container > .titles > span {
  font-size: 2rem;
}
.hero_container > .titles > p {
  font-size: 1.2rem;
  padding: 2rem 0;
}

/*responsive*/

@media (min-width: 240px) and (max-width: 880px) {
  .hero_container {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
  }
  .hero_container > .titles {
    text-align: center;
  }
}
