/*import google font*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
  background: #eeeeee;
  font-size:1.1rem;
}

/*clase general para contenedores*/

.flex-container {
  max-width: 80%;
  margin: 0 auto;
}

/*clase general para contenedores - responsive*/

@media (min-width: 240px) and (max-width: 880px) {
  .flex-container {
    max-width: 90%;
  }
}
